.main-toolbar {
  width: 100%;
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 50px; /* To avoid overlapping with toolbar */
}

.main-button {
  background-color: #3f51b5;
  color: white!important;
  border: 2px solid #3f51b5;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  margin: 20px;
  padding: 10px 20px;
  width: 150px;
  transition: background-color 0.3s, border-color 0.3s;
}

.main-button:hover {
  background-color: #0056b3;
  border-color: #003f7f; 
}