table {
  width: 100%;
  margin-top: 0%;
}

.mat-toolbar{
margin-bottom: 2%;
}

span{
margin-left: 45%;
}


.mat-mdc-form-field {
  font-size: 14px;
  width: 91%;
}

button{
margin: 5px 0px;
font-size: 12px;
width: 5%;
margin-left: 92%;
margin-top: -55px;

}

.btnEdit, .btnDelete {
cursor: pointer;
}

.btnDelete{
color: #a30b0b;
}

.btnEdit{
color: #355CCE;
}
