table {
    width: 100%;
    margin-top: 0%;
}

.mat-toolbar{
  margin-bottom: 2%;
}

span{
  margin-left: 45%;
}


.mat-mdc-form-field {
    font-size: 14px;
    width: 91%;
}

button{
  margin: 5px 0px;
  font-size: 12px;
  width: 5%;
  margin-left: 92%;
  margin-top: -55px;

}

.btnEdit, .btnDelete, .btnDetalle {
  cursor: pointer;
}

.btnDelete{
  color: #A30B0B;
}

.btnEdit{
  color: #355CCE;
}

.btnDetalle{
  color: #7cb0fd;
}
/* Estilo para los íconos de detalles */
.btnDetalle {
  color: green; /* Puedes usar cualquier tono de verde, como #4caf50 para un verde más específico */
  cursor: pointer;
}

.btnDetalle:hover {
  color: darkgreen; /* Un tono más oscuro de verde para el hover */
}
