<form [formGroup]="form" (ngSubmit)="addEditSecretary()">
  <mat-dialog-content>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Usuario</mat-label>
          <input formControlName="username" matInput placeholder="Ingrese Usuario" autocomplete="username">
        </mat-form-field>
        <!-- Error validation for username -->
      </div>
    </div>
    <div *ngIf="operacion === 'Agregar'">
      <div class="row">
        <div class="column">
          <mat-form-field appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingrese Contraseña" [type]="hide ? 'password' : 'text'"
              formControlName="password" required autocomplete="new-password">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field>
          <!-- Error validation for password -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstname" matInput placeholder="Ingrese Nombre" autocomplete="off">
        </mat-form-field>
        <!-- Error validation for firstname -->
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastname" matInput placeholder="Ingrese Apellido" autocomplete="off">
        </mat-form-field>
        <!-- Error validation for lastname -->
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input formControlName="mail" matInput placeholder="Ingrese Correo" autocomplete="email">
        </mat-form-field>
        <!-- Error validation for mail -->
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field>
          <mat-label>Tipo Documento</mat-label>
          <mat-select formControlName="dniType">
            <mat-option *ngFor="let item of tipoDocumento" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Error validation for dniType -->
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Documento</mat-label>
          <input formControlName="dni" matInput placeholder="Ingrese Documento" autocomplete="off">
        </mat-form-field>
        <!-- Error validation for dni -->
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <mat-label>Fecha Nacimiento</mat-label>
          <input formControlName="bornDate" matInput [matDatepicker]="picker" autocomplete="off">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <!-- Error validation for bornDate -->
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type='button' (click)="cancelar()" mat-button>Cancelar</button>
    <button type='submit' mat-button [disabled]="form.invalid">Aceptar</button>
  </mat-dialog-actions>
</form>