/* Estilos generales para el menú */
.mat-toolbar {
  background-color: #3f51b5; /* Color de fondo de la barra */
  color: white; /* Color del texto */
  padding: 16px; /* Espaciado */
}

/* Estilos para los botones */
button {
  margin: 0 10px; /* Margen entre botones */
  font-weight: bold; /* Hacer el texto en negrita */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

button:hover {
  background-color: #fff; /* Color de fondo al pasar el ratón */
  color: #3f51b5; /* Cambiar el color del texto */
}

/* Espaciador para flexbox */
.spacer {
  flex: 1 1 auto;
}

/* Estilos de responsividad */
@media (max-width: 600px) {
  .mat-toolbar {
      flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
      align-items: flex-start; /* Alinear a la izquierda */
  }
  button {
      width: 100%; /* Botones ocupan el 100% del ancho */
      margin-bottom: 10px; /* Espaciado inferior */
  }
}
.logout-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: #334089; /* Color rojo */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f; /* Rojo más oscuro */
}

.logout-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
