<div class="container">
  <h2 mat-dialog-title> Editar datos medicos de la Consulta</h2>
  <mat-spinner class="spinner" *ngIf="loading" [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="editAttention()">
  <mat-dialog-content class="mat-typography">

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill" class="large-textarea">
          <mat-label>Resultados de la Consulta</mat-label>
          <textarea formControlName="result" matInput placeholder="Ingrese los Resultados de la Consulta" autocomplete="off" rows="4"></textarea>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('result')?.hasError('required') && form.get('result')?.touched">
            Los Resultados de la Consulta son <strong>Obligatorios</strong>; en caso de no tener que poner, escriba <strong>Ninguno</strong>.
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill" class="large-textarea">
          <mat-label>Motivo de Consulta</mat-label>
          <textarea formControlName="reason" matInput placeholder="Ingrese el Motivo de Consulta" autocomplete="off" rows="4"></textarea>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('reason')?.hasError('required') && form.get('reason')?.touched">
            El Motivo de Consulta son <strong>Obligatorios</strong>; en caso de no tener motivo, escriba <strong>Ninguno</strong>.
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill" class="large-textarea">
          <mat-label>Observaciones</mat-label>
          <textarea formControlName="observation" matInput placeholder="Ingrese sus Observaciones" autocomplete="off" rows="4"></textarea>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('observation')?.hasError('required') && form.get('observation')?.touched">
            Las Observaciones son <strong>Obligatorios</strong>; en caso de no tener nada que poner, escriba <strong>Ninguna</strong>.
          </span>
        </div>
      </div>
    </div>


  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" (click)="close()" mat-button>Cancelar</button>
    <button [disabled]="form.invalid" type="submit" mat-button >Aceptar</button>
  </mat-dialog-actions>
</form>
