<div class="container">
  <h2 mat-dialog-title>Agregar Persona</h2>
  <mat-spinner *ngIf="loading"  [diameter]="30" class="spinner" ></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="addEditPersona()">
  <mat-dialog-content>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstname" matInput placeholder="Ingrese Nombre" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('firstname')?.hasError('required') && form.get('firstname')?.touched">
            <strong>Campo obligatorio</strong>
          </span>
        </div>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastname" matInput placeholder="Ingrese Apellido" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('lastname')?.hasError('required') && form.get('lastname')?.touched">
            <strong>Campo obligatorio</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input formControlName="Mail" matInput placeholder="Ingrese Correo" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('Mail')?.hasError('required') && form.get('Mail')?.touched">
            <strong>Campo obligatorio</strong>
          </span>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="column">
        <mat-form-field>
          <mat-label>Tipo Documento</mat-label>
          <mat-select formControlName="DniType">
            <mat-option *ngFor="let item of tipoDocumento" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('DniType')?.hasError('required') && form.get('DniType')?.touched">
            <strong>Campo obligatorio</strong>
          </span>
        </div>
      </div>
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Documento</mat-label>
          <input formControlName="dni" matInput placeholder="Ingrese Documento" autocomplete="off">
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('dni')?.hasError('required') && form.get('dni')?.touched">
            <strong>Campo obligatorio</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field class="example-full-width">
          <mat-label>Fecha Nacimiento</mat-label>
          <input formControlName="BornDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <div class="error">
          <span *ngIf="form.get('BornDate')?.hasError('required') && form.get('BornDate')?.touched">
            <strong>Campo obligatorio</strong>
          </span>
        </div> 
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type='button' (click)="cancelar()" mat-button >Cancelar</button>
    <button type='submit' mat-button cdkFocusInitial>Aceptar</button>
    <!--[disabled]="form.invalid" DESHABILITAR EL BOTON ACEPTAR SI EL FORM ES INVALIDO-->
  </mat-dialog-actions>
  
</form>


