
<div class="container">
  <h2 mat-dialog-title> {{operation}} Horas de Consulta</h2>
  <mat-spinner class="spinner" *ngIf="loading" [diameter]="30"></mat-spinner>
</div>

<form [formGroup]="form" (ngSubmit)="addEditConsultationHours()">
  <mat-dialog-content class="mat-typography">

    <div class="row">
      <div class=" column">
        <mat-form-field appearance="fill">
          <mat-label>Dia</mat-label>
          <input formControlName="day" matInput placeholder="Ingrese dia" autocomplete="off">
        </mat-form-field>
        <div class="error">

          <span *ngIf="form.get('day')?.hasError('required') && form.get('day')?.touched">
            El dia es un campo <strong>Obligatorio</strong>
          </span>

          <span *ngIf="form.get('day')?.hasError('pattern')">
            El dia solo admite <strong>letras</strong>
          </span>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Hora Inicio</mat-label>
          <input formControlName="startTime" matInput placeholder="Hora Inicio" autocomplete="off">
        </mat-form-field>
        <div class="error">

          <span *ngIf="form.get('startTime')?.hasError('required') && form.get('startTime')?.touched">
            La hora de inicio es un campo <strong>Obligatorio</strong>
          </span>

          <span *ngIf="form.get('startTime')?.hasError('maxlength')">
            La hora de inicio menos de <strong>20 caracteres</strong>
          </span>

          <span *ngIf="form.get('startTime')?.hasError('pattern')">
            El dia solo admite <strong>numeros</strong>
          </span>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <mat-form-field appearance="fill">
          <mat-label>Hora Fin</mat-label>
          <input formControlName="endTime" matInput placeholder="Hora Fin" autocomplete="off">
        </mat-form-field>
        <div class="error">

          <span *ngIf="form.get('endTime')?.hasError('required') && form.get('endTime')?.touched">
            La hora de fin es un campo <strong>Obligatorio</strong>
          </span>

          <span *ngIf="form.get('endTime')?.hasError('maxlength')">
            La hora de fin menos de <strong>20 caracteres</strong>
          </span>

          <span *ngIf="form.get('endTime')?.hasError('pattern')">
            El dia solo admite <strong>numeros</strong>
          </span>
        </div>
      </div>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" (click)="cancelar()" mat-button>Cancelar</button>
    <button type='submit' mat-button cdkFocusInitial>Aceptar</button>
  </mat-dialog-actions>


</form>

